/_build
/src/BrowseMonkey/obj
/src/BrowseMonkey/bin
/src/BrowseMonkeyData/obj
/src/BrowseMonkeyData/bin
/src/BrowseMonkeyUnitTest/obj
/src/BrowseMonkeyUnitTest/bin
/src/BrowseMonkeyVolumesUnitTest/obj
/src/BrowseMonkeyVolumesUnitTest/bin
/src/FSXml/obj
/src/FSXml/bin
/src/FSXmlUnitTest/obj
/src/FSXmlUnitTest/bin
/src/FSXmlWinUI/obj
/src/FSXmlWinUI/bin
/src/packages
/src/vcFramework/obj
/src/vcFramework/bin
/src/BrowseMonkey.v12.suo
/src/BrowseMonkey/BrowseMonkey.csproj.user
/src/BrowseMonkeyData/BrowseMonkeyData.csproj.user
/src/BrowseMonkeyUnitTest/*.user
/src/BrowseMonkeyVolumesUnitTest/BrowseMonkeyDataUnitTest.csproj.user
/src/FSXml/FSXml.csproj.user
/src/FSXmlUnitTest/FSXmlUnitTest.csproj.user
/src/FSXmlWinUI/FSXmlWinUI.csproj.user
/src/vcFramework/vcFramework.csproj.user
